<div class=" py-3 text-sm hidden md:block border-b border-slate-800 container">
    <div class="container mx-auto px-6 flex justify-between items-center">
        <div class="flex items-center space-x-6">
            <a href="mailto:support@solvior.com" class="hover:text-white transition flex items-center gap-2">
                <i class="fa-regular fa-envelope text-accent"></i> support@solvior.com
            </a>
            <a href="tel:000123456789" class="hover:text-white transition flex items-center gap-2">
                <i class="fa-solid fa-phone text-accent"></i> (000) 123 456 789
            </a>
            <span class="flex items-center gap-2">
                <i class="fa-solid fa-location-dot text-accent"></i> Lucknow, UP, India
            </span>
        </div>
        <div class="flex items-center space-x-4">
            <span class="mr-2">Follow us:</span>
            <a href="#" class="hover:text-white transition"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#" class="hover:text-white transition"><i class="fa-brands fa-twitter"></i></a>
            <a href="#" class="hover:text-white transition"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="#" class="hover:text-white transition"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</div>
